@font-face {
    font-family: Technicbold;
    src: url(fonts/Technicbold.ttf);
}

@font-face {
    font-family: Swiss;
    src: url(fonts/Swiss.ttf);
}

html {
    background-color: dimgray;
    background-image: url(images/BackG.png);
    background-size: 100%;
    background-attachment: fixed;
}

.productpage {
    width: 90vw;
    background-color: rgba(91, 91, 91, 0.82);
    min-height: 65vh;
    border-radius: 2vh;


}

* {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

.nav {
    background-color: black;
    display: flex;
    justify-content: flex-end;
    font-family: Technicbold;


}

a {
    Color: #585858;

}

a:active {
    color: #969696;
}

a:hover {
    color: #969696;
}


.logoimg {
    margin: -2.5vh 1%;
    font-family: Technicbold;
}


.nav li {
    margin: auto;
    font-family: Technicbold;
    font-size: 3vw;
}

.left {
    width: 91.5vw;
    background-color: rgba(91, 91, 91, 0.82);
    min-height: 65vh;
    border-radius: 2vh;
    margin: -2vh;
    font-family: Technicbold;
    font-size: 1.7vw;

}


.right {
    margin-top: -60vh;
    width: 400vw;
    text-align: center;
}

.bottom {
    margin-top: -60vh;
    width: 400vw;
    text-align: center;
}

.nav1 {
    width: 100%;
    background-color: #5364af;
    min-height: 0.5vh;
    margin-top: 3.5vh;

}

.nav2 {
    width: 100%;
    background-color: #1c85a5;
    min-height: 0.5vh;


}



section {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin: 9vh;
    font-family: Technicbold;
}

footer {
    background-color: rgb(74, 74, 74);
    font-size: 1.5vw;
    padding: 1vh;
    width: 99%;
    margin-top: -7vh;
    vertical-align: bottom;
    text-align: right;
    margin: -3vh 0%;
    font-family: Technicbold;

}

.products {
    display: inline-block;
    width: 50%;
    margin: 20px 2%;
}

.products img {}

.products p {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

h1 {
    margin-left: 20vw;
    margin-top: 2vw;
    font-size: 2vw;
    text-align: center;
    text-decoration: underline;
}

h2 {
    margin-left: 40vw;
    margin-top: 2vw;
    font-size: 5vw;
    margin: 30vh 3%;

}

h3 {
    display: block;
    font-size: 2em;
    margin-top: 1em;
    margin-bottom: 0.67em;
    margin-left: 10vw;
    margin-right: 0;
    font-weight: bold;
}

h4 {
    font-size: 1em;
    margin-top: 1em;
    margin-bottom: 0.67em;
    margin-left: 10vw;
    margin-right: 0;

}

.images {
    margin-bottom: 3vh;
    width: 40vw;
    text-align: center;
    margin-left: 23vw;
}

.form {
    margin-top: 1vw;
    width: 10vw;
    margin-left: 55vw;
}

input {
    width: 30vw;
    padding: 2vh 2vh;
    margin: 0.5vw 0;
    box-sizing: border-box;
    border: 2px Black;
    border-radius: 4px;
    background-color: #656565;
    color: black;
}

input[type=submit],
input[type=reset] {
    background-color: #1c85a5;
    border: none;
    color: Black;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}


input[type=submit]:hover,
input[type=reset]:hover {
    background-color: #39788c;
}

input[type=text]:focus {
    background-color: #5364af;
}

contact {}
